body{
    background-color:rgb(16, 2, 55);
    color:white;
    font-family: 'Galdeano';
    margin:0px;
}
h1{
    text-align: center;
    font-size:40px;
}
h1,li{
    font-family: 'Oswald';
}
h2,h3,h4{
    font-family: 'Poly';
}
input{
    font-family: 'Galdeano';
}
header{
    background-color:rgba(230, 230, 230, 0.95);
    position:fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    z-index:10;
}
nav{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background-color:rgb(230,230,230,0.95);
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 400ms ease-in-out;
}
.nav-toggle:checked ~ nav{
    transform:scale(1,1)
}
.nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 300ms ease-in-out 200ms;
}
.nav-toggle{
    display:none;
}
.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height:100%;
    display:flex;
    align-items:center;
}
.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    display:block;
    background:black;
    height:2px;
    width:2em;
    border-radius:2px;
    position:relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    content:"";
    position:absolute;
}
.nav-toggle-label span:before{
    bottom:8px;
}
.nav-toggle-label span:after{
    top:8px;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    margin-bottom:1em;
    margin-left:1em;
}
nav a{
    text-decoration:none;
    color:black;
    font-size:1.5rem;
    opacity:0;
    transition:opacity 200ms ease-in-out;
}
footer{
    background-color: black;
    color:white;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
}
.icon{
    height:40px;
    width:40px;
    margin:10px;
    border-radius: 25%;
    background-size: cover;
}
.icon:hover{
    height:45px;
    width:45px;
    margin:7.5px;
}
.fb{
    background-image: url("../images/fb.png");
}
.yt{
    background-image: url("../images/yt.png");
}
.ig{
    background-image: url("../images/ig.png");
}
.footercontainer{
    margin-right:20%;
    margin-left:20%;
}
.footerlink{
    text-decoration: none;
    color:white;
}
@media (min-width:800px){
    .nav-toggle-label{
        display:none;
    }
    header{
        display:grid;
        grid-template-columns:1fr auto minmax(600px, 1fr) 0.5fr;
    }
    .logo{
        grid-column:2/span 3;
    }
    nav{
        all:unset;
        grid-column:3/4;
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }
    nav a{
        opacity:1;
        position:relative;
    }
    nav a:before{
        content:'';
        display:block;
        height:3px;
        position:absolute;
        bottom:-0.4em;
        left:0;
        right:0;
        transform:scale(0,1);
        transform-origin:center;
        transition:transform ease-in-out 175ms;
        background:black;
    }
    nav a:hover:before{
        transform:scale(1,1);
    }
    nav ul{
        display:flex;
    }
    nav li{
        margin-right:3em;
        margin-bottom:0;
    }
}