.misccontacts{
    display: flex;
    flex-wrap: wrap;
    color:black;
}
.entry{
    margin:15px;
    width:40%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    margin:5px;
}
input{
    border-radius: 0.4em;
}
.formsection{
    margin-bottom: 10px;
}
table{
    width: 100%;
}
table,th,td{
    border: 1px solid black;
}
.row{
    margin:5px;
}
.alert-success{
    text-align: center;
    margin:10px;
}
.box{
    color:black;
    background-color: rgb(200,200,200);
    padding:15px;
    margin-left:15%;
    margin-right:15%;
    border-radius:15px;
}
@media (max-width:800px){
    .maincont{
    margin-left:5%;
    margin-right:5%;
    }
}